# Reference for values accepted by the ingress-nginx chart:
# https://github.com/kubernetes/ingress-nginx/blob/master/charts/ingress-nginx/values.yaml
controller:
  affinity: {{ k8s_ingress_nginx_affinity | to_json }}
  service:
{% if k8s_ingress_nginx_load_balancer_ip is defined %}
    loadBalancerIP: "{{ k8s_ingress_nginx_load_balancer_ip }}"
{% endif %}
{% if k8s_aws_load_balancer_type == "nlb" %}
    # Adapted from the NLB configuration for the non-Helm install (for some reason NLB
    # is not yet the default for Helm installs):
    # https://raw.githubusercontent.com/kubernetes/ingress-nginx/controller-v0.44.0/deploy/static/provider/aws/deploy.yaml #}
    externalTrafficPolicy: Local
    annotations:
      service.beta.kubernetes.io/aws-load-balancer-backend-protocol: tcp
      service.beta.kubernetes.io/aws-load-balancer-cross-zone-load-balancing-enabled: 'true'
      service.beta.kubernetes.io/aws-load-balancer-type: nlb
{% else %}
    # For projects that still wish to use it, also support Classic (ELB) load balancers:
    externalTrafficPolicy: Cluster
    annotations:
      # Enable PROXY protocol
      service.beta.kubernetes.io/aws-load-balancer-proxy-protocol: "*"
      service.beta.kubernetes.io/aws-load-balancer-cross-zone-load-balancing-enabled: 'true'
      # Ensure the ELB idle timeout is less than nginx keep-alive timeout. By default,
      # NGINX keep-alive is set to 75s. If using WebSockets, the value will need to be
      # increased to '3600' to avoid any potential issues.
      service.beta.kubernetes.io/aws-load-balancer-connection-idle-timeout: "60"
      service.beta.kubernetes.io/aws-load-balancer-type: elb
  config:
    # Enable PROXY protocol in Nginx
    use-proxy-protocol: "true"
{% endif %}
  replicaCount: {{ k8s_ingress_nginx_replica_count }}
